connection_string_value = ""
resource_group_name     = ""
location                = ""

sql_password    = ""
sql_user        = ""
sql_version     = ""
sql_tls_version = ""

database_name        = ""
creation_database_id = ""


sku_name = ""    # tier y size combinados
os_type  = ""

appservice_command = ""
